---
import { Award } from "lucide-react";
const {certificados} = Astro.props;
import CertificateCard from "../components/CertificateCard.astro";

---

<section
  id="certificados"
  aria-label="Mis certificados"
  class="flex flex-col gap-6 pt-12"
  >
  <div class="flex flex-col gap-5">
    <div class="flex gap-1 items-center justify-left">
      <Award className="text-sky-500 dark:text-[#71d1fa] h-6 w-6" />
      <h4 class="title md:text-lg text-md font-semibold w-fit text-[#0f172a] dark:text-[#fafafa]">
        Certificados
      </h4>
    </div>
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 xl:grid-cols-3">
      {
        certificados.map((certificado: any) => (
          <CertificateCard
            title={certificado.title}
            image={certificado.image}
            url={certificado.url}
            type={certificado.type}
          />
        ))
      }
    </div>
  </div>

</section>
