---
import { ChevronDown } from "lucide-react";
import { ChevronUp } from "lucide-react";
const { tittle, text, periodo, empresa, destacado } = Astro.props;
---

<details
	class="group overflow-hidden w-full flex transition-all dark:hover:bg-[#2828284c]
        hover:bg-gray-100 border-gray-500 hover:bg-opacity-50 dark:border-[#ffffff4d] flex-col gap-2 border-solid border-2 rounded-lg"
	onclick="handleClick()"
>
	<summary class="flex justify-between items-start sm:items-center px-3 pt-3">
		<div class="flex flex-col gap-2 sm:gap-0">
			<div class="flex gap-2 sm:gap-3 flex-col sm:flex-row">
				<span
					class="text-[12px] md:text-[18px] font-semibold text-[#141a28] dark:text-[#fafafa]"
					><span class="">{tittle}</span> - {empresa}</span
				>
			</div>
			<small class="text-[#141a28] dark:text-[#fafafa] font-thin text-[12px]"
				>{periodo}</small
			>
		</div>
		<ChevronDown
			className="icon text-[#141a28] dark:text-[#fafafa] group-open:hidden"
		/>
		<ChevronUp
			className="icon text-[#141a28] dark:text-[#fafafa] hidden group-open:block"
		/>
	</summary>

	<div class="mb-3 mx-4">
		<hr class="h-px my-2 bg-[#141a28] border-0 dark:bg-gray-500" />
		<p class="text-[#141a28] mx-2 dark:text-gray-200 text-[14px]">
			{text}
			<span class="underline font-bold decoration-2 decoration-sky-500">
				{destacado}</span
			>.
		</p>
	</div>
</details>
